$bgcolor: rgb(224, 224, 224);
$textColor: #db4437;
$cardBgColor: rgba(139, 134, 134, 0.842);
$footerBgColor: rgb(53, 52, 52);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: url("../img/Books-Bg1.png");
  background-size: cover;
  background-attachment: fixed;
}

.heading-name {
  font-size: 52px;
  margin: 0 auto;
}

img {
  height: 12rem;
  width: 8rem;
  border-radius: 0.5rem;
}

.github-icon {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

h1 {
  color: black;
  font-size: 1.5rem;
}

h2 {
  text-align: center;
  padding-top: 1rem;
  color: $textColor;
}

h3 {
  color: $textColor;
  text-align: center;
  padding-bottom: 1rem;
}

p {
  font-size: 0.8rem;
}

input[type="text"] {
  width: 20em;
  height: 3em;
  padding: 10px 10px;
}

a {
  color: #3b3b3b;
  text-decoration: underline;
  transition: 0.3s;
}

a:hover {
  color: $textColor;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.8rem;
}

.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.custom-card {
  background-color: $cardBgColor;
  padding: 1rem;
  border-radius: 1rem;
}

.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.scroll-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #0d1117;

  fill: white;
  transform: rotate(-90deg);
}

/* Basic styling for the input */
input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styling when the input is focused */
input:focus {
  outline: none;
  border-color: dodgerblue;
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
}

/* Styling for a disabled input */
input:disabled {
  background-color: #f2f2f2;
  color: #888888;
  cursor: not-allowed;
}

/* Style for the button */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  color: #3498db;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Hover effect */
button:hover {
  background-color: #3498db;
  color: #fff;
  border-color: #3498db;
}

.loading-card {
  margin: 10px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  padding: 1rem;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  .image {
    height: 12rem;
    width: 8rem;
    margin: 0 auto;
    border-radius: 0.5rem;
  }

  .content {
    padding: 20px 30px;
  }
  .image,
  h2,
  p {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    margin: 0.5rem auto;
    animation: 1.5s shine linear infinite;
  }

  h2 {
    height: 30px;
  }

  p {
    height: 20px;
    width: 80%;
    margin: 0.4rem auto;
  }
}

.loading-card:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.load-more {
  width: max-content;
  display: grid;
  place-items: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;

  button {
    padding: 0.7rem 1.4rem 0.7rem 1.4rem;
    background-color: white;
    border: 1px solid $footerBgColor;
    color: black;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;


    &:hover {
      background-color: $footerBgColor;
      color: white;
      animation: hover .5s ease-in-out;
    }

    @keyframes hover {
      from {
        background-color: white;
        color: black;
      }
      to {
        background-color: $footerBgColor;
        color: white;
      }
    }
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
footer {
  background: $footerBgColor;
  padding: 1rem;
  color: white;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 850px) {
  .github-icon {
    top: 110px;
  }
  .heading-name {
    width: 48rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .container-articles {
    grid-template-columns: 1fr;
  }
  .heading-name {
    font-size: 42px;
    width: 35rem;
  }
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.modal-active {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 0.52s ease-in-out;
}

.popup > h3 {
  padding: 1em;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup > .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup > .close:hover {
  color: #06d85f;
  cursor: pointer;
}
.popup > .content {
  max-height: 30%;
  word-break: break-word;
}

@media screen and (max-width: 820px) {
  .popup {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }

  .loading-name {
    width: 90%;
    font-size: 1rem;
  }

  .heading-name {
    width: auto;
    font-size: 2rem;
  }
}

@media screen and (max-width: 350px) {
  .heading-name {
    width: auto;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 200px) {
  .github-icon {
    top: -50px;
  }
}
