$bgcolor: rgb(224, 224, 224);
$textColor: #db4437;
$cardBgColor: rgba(139, 134, 134, 0.842);
$footerBgColor: rgb(53, 52, 52);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: url("../img/Books-Bg.png");
  background-size: cover;
  background-attachment: fixed;
}

.heading-name {
  font-size: 52px;
  width: 50rem;
  margin: 0 auto;
}

.books-bg {
  background-color: $bgcolor;
  border-radius: 1rem;
  padding: 1rem 1rem;
  transition: 0.2s ease-in-out;
}

.books-bg:hover {
  box-shadow: 0px 8px 60px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

img {
  height: 12rem;
  width: 8rem;
  border-radius: 0.5rem;
}

h1 {
  color: black;
  font-size: 1.5rem;
}

h2 {
  text-align: center;
  padding-top: 1rem;
  color: $textColor;
}

h3 {
  color: $textColor;
  text-align: center;
  padding-bottom: 1rem;
}

p {
  font-size: 0.8rem;
}

input[type="text"] {
  width: 20em;
  height: 3em;
  padding: 10px 10px;
}

a {
  color: #3b3b3b;
  text-decoration: underline;
  transition: 0.3s;
}

a:hover {
  color: $textColor;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.8rem;
}

.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.custom-card {
  background-color: $cardBgColor;
  padding: 1rem;
  border-radius: 1rem;
}

.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}

footer {
  background: $footerBgColor;
  padding: 1rem;
  color: white;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 850px) {
  .github-icon {
    top: 110px;
  }
  .heading-name {
    width: 48rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .container-articles {
    grid-template-columns: 1fr;
  }
  .heading-name {
    font-size: 42px;
    width: 35rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }

  .loading-name {
    width: 90%;
    font-size: 1rem;
  }

  .heading-name {
    width: auto;
    font-size: 2rem;
  }
}

@media screen and (max-width: 350px) {
  .heading-name {
    width: auto;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 200px) {
  .github-icon {
    top: -50px;
  }
}
